

.example-card {
  box-shadow: 3px 4px 13px -4px rgba(0,0,0,0.75);
}

.mat-mdc-card-header {
  display: flex;
  /* padding: 16px 16px 0; */
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 50px;
}



