.preloader-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .preloader {
        width: 20%;
    }
}


@media screen and (max-width: 768px) {
    .preloader {
        width: 30%;
    }
  }
  
  @media screen and (max-width: 600px) {
  
    .preloader {
        width: 50%;
    }
  }